# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [ ]:
series1 = pd.Series(np.random.randint(1, 5, 100))
series2 = pd.Series(np.random.randint(1, 4, 100))
series3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
data = pd.concat([series1, series2, series3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [ ]:
data = data.rename(columns={0: 'bedrs', 1:'baths', 2:'price_sqr_meter'})
data

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
bigcolumn = pd.concat([series1, series2, series3])
bigcolumn

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
bigcolumn = pd.concat([series1, series2, series3], ignore_index=True)
bigcolumn

### Step 7. Reindex the DataFrame so it goes from 0 to 299