# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [109]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [110]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

url_data = pd.read_table(url,sep='\t')
url_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [111]:
chipo = url_data

### Step 4. See the first 10 entries

In [112]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [113]:
# Solution 1
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [114]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [115]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [116]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

In [117]:
chipo.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

### Step 8. How is the dataset indexed?

In [118]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [119]:
item_order_counts = chipo.groupby('item_name')['quantity'].count()
item_order_counts.idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [120]:
chipo.groupby('item_name')['quantity'].count().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [121]:
choice_descriptions = chipo.groupby('choice_description')['quantity'].count()
choice_descriptions.idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [122]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [123]:
type(chipo['item_price'].max())

str

#### Step 13.b. Create a lambda function and change the type of item price

In [124]:
from re import sub
from decimal import Decimal


chipo['item_price'] = chipo['item_price'].apply(lambda x: Decimal(sub(r'[^\d.]', '', x)))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [125]:
type(chipo['item_price'].max())

decimal.Decimal

### Step 14. How much was the revenue for the period in the dataset?

In [126]:
chipo['item_price'].sum()

Decimal('34500.16')

### Step 15. How many orders were made in the period?

In [127]:
chipo['order_id'].count()

4622

### Step 16. What is the average revenue amount per order?

In [128]:
# Solution 1
revenue = chipo['item_price'].sum()
total_orders = chipo['order_id'].count()

average_revenue = revenue/total_orders
average_revenue

Decimal('7.464335785374296841194288187')

In [129]:
# Solution 2

# Nah son

### Step 17. How many different items are sold?

In [130]:
chipo.groupby(['item_name']).nunique().count()

order_id              50
quantity              50
item_name             50
choice_description    50
item_price            50
dtype: int64